body {
  color: #222 !important;
  /* Or whatever color you need */
}

.custom-body {
  font-family: 'Intra';
  background-color: #3a3a3a;
  color: white;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
